body {
	background-color: beige;
	font-family: helvetica;
    margin: 50px;
}

header {
	color: brown;
}

input {
	display: block;
	margin-bottom: 25px;
}
/*sauce: https://stackoverflow.com/questions/22709792/input-type-number-wont-resize  */
input[type = number],[type=text], [type=password]{
	width: 250px;
}

/* keeping footer always at the bottom of the page.
sauce: https: //www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */


#footer {
	background-color: beige;
	width: 100%;
	flex: display;
}


#main-navbar{
	background-color: rgb(55, 117, 166);
}

#logo-container-in-navbar {
	background-color: azure;
}
/*
#navbar-supported-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#navbar-home-to-aboutus{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}
*/
#navbar-home-to-aboutus .nav-link{
	color: white;
}

#navbar-home-to-aboutus a:hover {
	color: black;
}

#navbar-add-dropdown div a{
	background-color: black;
}

#navbar-user-account-container{
	/* margin-left: 350px; */
}

#navbar-account-dropdown{
	color:white;
}

.logout-form {
	color: brown;
	display: inline-block;
	word-spacing: 1em;
}

.logout-buttons {
	display: inline;
}

.resize-img {
	max-width: 50%;
	max-height: 50%;
}

.add-prop-header-title{
	color: brown;
	margin-top: 20px;
}

.add-prop-button-container input, h6{
	display: inline;
	margin-right: 30px;
}

.edit-prop-form-buttons-container input{
	display: inline;
	margin-right: 30px;
}

.edit-prop-delete-form-container p {
	color: rgba(255, 115, 0, 0.924);
	font-style: italic;
}

#view-prop-dark-overlay{
	background: rgba(0,0,0,0.7);
}

.view-prop-buttons-container h4 {
	display: inline;
}

.view-prop-buttons-container a {
	float: right;
	margin-left: 30px;
}

a h2{
	text-decoration: none;
}

h3 {
	color: brown;
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	text-decoration: none;
	/*letter-spacing: 1.5px;
	word-spacing: 2px; */
}

h4 {
	color: brown;
	font-family: sans-serif;
	font-weight: lighter;
}

.home-buttons-container h4:hover {
	font-weight: bold;
}

/*p {
	color: rgb(242, 159, 140);
}*/

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

nav a {
	color: lightgrey;
	font-weight: lighter;
	font-family: sans-serif;
	margin-right: auto;
}

article h3 {
	color: brown;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: lighter;
}

article h2 a {
	color: brown;
	text-decoration: none;
}

article h4 a {
	color: brown;
	font-family: arial;
	float: right;
	text-decoration: none;
}

article p {
	color: grey;
	/*grey */
	font-family: arial;
	line-height: 150%;
	margin-top: 10px;
	padding-top: 10px;
}

article p::first-letter {
	/*Google Drop Caps*/
	color: brown;
	/*grey */
	font-size: 500%;
	font-family: arial;
	font-weight: lighter;
}
